/*---------------- 08. Confirmation Section - FIFTH FIELDSET -----------------*/

.confirmation-basket-labels {
   margin-top: 5%;
   width: 100%;
   float: left;
   border-bottom: 1px solid #ccc;
   margin-top: 15px;
}

.confirmation-basket-product {
   width: 100%;
   float: left;
   border-bottom: 1px solid #ccc;
   padding: 40px 0px 35px;
   position: relative;
}

.confirmation-product-details {
   float: left;
   padding: 0 1.5rem;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   width: 60%;
}

.order-summary-total {
   width: 100%;
   margin-top: 1%;
}

.myorder {
   width: 55%;
   float: left;
}

.myorder-heading {
   padding-left: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 16px;
   font-weight: 800;
}

.myorder-quantity {
   width: 15%;
   float: left;
   font-size: 16px;
   font-weight: 800;
}

.line-total {
   width: 15%;
   float: right;
   font-size: 16px;
   font-weight: 800;
}

#line-total-p {
   font-size: 15px;
   margin-left: 20px;
}

#quantity-id {
   margin-left: 24px;
   font-size: 15px;
}

#popup-button {
   font-size: 14px;
   background-color: transparent;
   color: #00a100;
   text-decoration: underline;
}

#order-hidden {
   visibility: hidden;
   display: none;
}

#product-quantity {
   visibility: hidden;
   display: none;
}

#product-price {
   visibility: hidden;
   display: none;
}

.product-titles {
   visibility: hidden;
   display: none;
}


/*------------------------ END OF 08. Confirmation ------------------------*/