/* -------------------------------------------------------------------

   FRONT-END OF THE CHECKOUT PROCESS - THIS IS THE CSS STYLE

  [Table of contents]

  01. General style
  02. Fieldsets
  03. Popup after Confirmation

  [Typography]

  # content    --> 'Open Sans', sans-serif;

  [Notes]

  # You can find the rest of the css in 'css' folder. I made a different file for every section so it can be easily read.
  
/*------------------------ 01. General style ------------------------*/

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/*basic reset*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 76.5%;
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding: 0rem 0;
  width: 960px;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}


/*.dfk-header {
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  transform: translate(0%, 0%);
  margin-bottom: -29px;
}

#headerS,
#headerXL,
#headerTablet,
#headerLaptop,
#headerL {
  display: none;
}


#footerS,
#footerTablet,
#footerLaptop,
#footerL,
#footerXL{
  display: none;
}*/

.container {
  width: 100%;
  margin-top: 4%;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.nav>li {
  position: relative;
  display: block
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px color: green;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eee;
}

.nav>li.disabled>a {
  color: #ccc
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent
}

.nav-tabs {
  border-bottom: 1px solid #ddd
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px
}

.tab-content>.tab-pane {
  display: none;
  visibility: hidden
}

.tab-content>.active {
  display: block;
  visibility: visible
}

.nav:before,
.nav:after,
.navbar:before,
.navbar:after {
  display: table;
  content: " "
}

.nav:after,
.navbar:after {
  clear: both
}

#msform {
  width: 80%;
  margin: 20px auto;
  position: relative;
}