/*--------------------------- 02. Progressbar  -----------------------------*/

#progressbar {
   margin-bottom: 30px;
   overflow: hidden;
   /*CSS counters to number the steps*/
   counter-reset: step;
   text-align: center;
}

#progressbar li {
   list-style-type: none;
   color: #bbb7b7;
   font-weight: 600;
   white-space: nowrap;
   font-size: 17px;
   width: 19.33%;
   float: left;
   position: relative;
}

#progressbar li:before {
   content: counter(step);
   counter-increment: step;
   z-index: 1;
   width: 39px;
   line-height: 39px;
   left: 50%;
   top: 50%;
   display: block;
   font-size: 18px;
   font-weight: 550;
   background-color: #fff;
   color: #ccc;
   border: 2px solid #ccc;
   border-radius: 50%;
   margin: 0 auto 5px auto;
}


/*---------------- PROGRESS BAR CONNECTORS ---------------*/

#progressbar li:after {
   content: '';
   width: 100%;
   height: 2px;
   color: #00a100;
   background-color: #ccc;
   position: absolute;
   left: -50%;
   top: 31%;
   z-index: -1;
   /*put it behind the numbers*/
}

#progressbar li:first-child:after {
   /*connector not needed before the first step*/
   content: none;
}

#progressbar li.active:before {
   background-color: #fff;
   color: #00a100;
   border: 2px solid #00a100;
}

#progressbar li.active:after {
   background: #00a100;
}


/*------------------------ END OF 02. Progressbar ------------------------*/