/* -------------------------------------------------------------------

   FRONT-END OF THE CHECKOUT PROCESS - THIS IS THE CSS STYLE

  [Table of contents]

  01. General style
  02. Fieldsets
  03. Popup after Confirmation

  [Typography]

  # content    --> 'Open Sans', sans-serif;

  [Notes]

  # You can find the rest of the css in 'css' folder. I made a different file for every section so it can be easily read.
  
/*------------------------ 01. General style ------------------------*/

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/*basic reset*/

* {
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
}

body {
   background-color: #fff;
   color: #000;
   font-family: 'Open Sans', sans-serif;
   font-size: 76.5%;
   margin: 0 auto;
}

main {
   margin: 0 auto;
   padding: 1rem 0;
   width: 70%;
}

aside {
  float: right;
  position: relative;
  width: 30%;
}

p {
   margin: 0.75rem 0 0;
}

h1 {
   font-size: 0.75rem;
   font-weight: normal;
   margin: 0;
   padding: 0;
}

input,
button {
   border: 0 none;
   outline: 0 none;
}

button {
   background-color: #666;
   color: #fff;
}

label {
   display: block;
   margin-bottom: 0.3125rem;
}

.container {
   width: 100%;
   margin-top: 5%;
}


/*------------------------ END OF 01. General style ------------------------*/


/*--------------------------- 02. Fieldsets  -----------------------------*/


/*FORM STYLES*/

#msform {
   width: 70%;
   margin: 30px auto;
   position: relative;
   float: left;
}


/*FIELDSETS*/

#msform fieldset {
   background: white;
   border: 0 none;
   border-radius: 3px;
   box-sizing: border-box;
   width: 122%;
   margin: 3% -10%;
   /*stacking fieldsets above each other*/
   position: relative;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
   display: none;
}


/*BUTTONS*/

#msform .action-button {
   width: 100px;
   background: #27AE60;
   font-weight: bold;
   color: white;
   border: 0 none;
   border-radius: 1px;
   cursor: pointer;
   padding: 10px 5px;
   margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
   box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.continue-shopping {
   float: left;
   background-color: #00a100;
   color: #fff;
   padding: 10px 15px;
   font-weight: bold;
   border: 3px solid #00a100;
   -webkit-transition: 0.3s ease;
   transition: 0.3s ease;
   cursor: pointer;
   font-size: 14px;
   text-align: center;
   border-radius: 1px;
   /* margin-bottom: 42px; */
   margin-right: 7px;
   margin-top: -45px;
}

.print {
   float: right;
   margin-top: 10%;
   width: 21%;
   margin-right: -68%;
   display: block;
   background: #00a100;
   font-weight: bold;
   border-radius: 1px;
   color: white;
   border: 0 none;
   cursor: pointer;
   padding: 10px 5px;
   font-size: 14px;
}

.print:hover {
   box-shadow: 0 0 0 2px white, 0 0 0 3px #00a100;
}


/*HEADINGS*/

.fs-title {
   font-size: 15px;
   text-transform: uppercase;
   color: #2C3E50;
   margin-bottom: 10px;
}

.fs-subtitle {
   font-weight: normal;
   font-size: 13px;
   color: #666;
   margin-bottom: 20px;
}


/*------------------------ END OF 02. Fieldsets ------------------------*/


/*------------------------ 03. Popup for Confirmation ------------------------*/

#dialogoverlay {
   display: none;
   opacity: 0.5;
   /*so that user can see through it*/
   position: fixed;
   top: 0px;
   left: 0px;
   background: black;
   width: 100%;
   z-index: 10;
   height: 100%;
   width: 100%;
}

#dialogbox {
   display: none;
   position: fixed;
   background: #ffffff;
   border-radius: 1px;
   border: 0.5px solid #ccc;
   width: 350px;
   z-index: 10;
   left: 26%;
   top: 30%;
   width: 45%;
   height: 350px;
}

#close-popup {
   float: right;
   background-color: transparent;
   color: black;
}

#saved-text {
   text-align: center;
   font-size: 22px;
   color: #00a100;
   margin-top: 3%;
   font-weight: 800;
   margin-left: 25px;
}

#popup-description {
   text-align: center;
   font-size: 12px;
   color: black;
   margin-top: 1%;
   font-weight: 500;
   width: 94%;
   margin-left: 3%;
}

.box-text {
   width: 95%;
   height: 225px;
   margin-left: 2%;
   height: ;
   margin-top: 2%;
   border-style: double;
}

#tellworld {
   width: 82%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 4% 9% 20px;
}

#tellworld-span {
   background: #fff;
   padding: 0 10px;
   font-size: 22px;
   font-weight: 550;
   ">Tell the world

}

#share-text {
   width: 82%;
   text-align: center;
   font-size: 12px;
   font-weight: 500;
   margin-left: 9%;
}

#myTextarea {
   margin-left: 9%;
   margin-right: 0px;
   margin-top: 3%;
   width: 82%;
   height: 60px;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
}

.dialog-social {
   margin-top: 2%;
   width: 90%;
   display: inline-flex;
   margin-left: 11%;
}

#share {
   width: 27%;
}

#share-header {
   font-size: 12px;
   font-weight: 500;
}

#facebook {
   width: 20%;
}

#twitter {
   width: 20%;
}

#email {
   width: 20%;
}

#facebook-button,
#twitter-button {
   width: 75%;
   font-size: 10px;
   height: 25px;
   padding: 6px;
   margin-top: -2%;
   background: #00a100;
}

#email-button {
   width: 75%;
   font-size: 10px;
   height: 25px;
   padding: 6px;
   margin-top: -2%;
   background: #00a100;
}
